<!DOCTYPE html>
<html ng-app="gravivity">

<head>
  <title>gravivity</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">
  <script src="assets/libraries/angular.min.js"></script>
  <script src="assets/js/app.js"></script>
</head>

<body ng-controller="GravivityController">

  <div class="body">

    <div class="title">

      <img class="title-img" src="assets/imgs/gravivity-icon.png"></img>
      <h1>gravivity</h1>
    </div>

    <div class="pagination">
      <div class="pag-option">
        <button>releases</button>
      </div>
      <div class="pag-option division"></div>
      <div class="pag-option">
        <button>news</button>
      </div>
    </div>

    <div class="prototypes">
      <div class="prototype" ng-repeat="prototype in prototypes">
        <h3><strong>prototype #{{prototype.number}}</strong></h3>
        <h5><strong>{{getUSADate(prototype.date)}}</strong></h5>
        <div class="prototype-division">
          <p>{{prototype.description}}</p>
        </div>

        <h4>versions</h4>
        <div class="protoypes-versions" ng-repeat="version in prototype.versions">
          <p>{{version.version}}</p>
          <a href="{{version.iOS}}">iOS</a>
          <a href="{{version.android}}">android</a>
          <ul ng-repeat="addition in version.additions">
            <li>{{addition}}</li>
          </ul>
        </div>


      </div>
    </div>

  </div>

</body>

</html>
