<!DOCTYPE html>
<html ng-app="gravivity">

<head>
  <title>gravivity</title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="assets/imgs/gravivity-icon.png">
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">
  <script src="assets/libraries/angular.min.js"></script>
  <script src="assets/js/app.js"></script>
</head>

<body ng-controller="GravivityController">

  <div class="body">

    <div class="title">

      <img class="title-img" src="assets/imgs/Player.png"></img>
      <h1>gravivity</h1>
    </div>

    <div class="pagination">
      <div class="pag-option">
        <button ng-click="changePage('prototypes')">releases</button>
      </div>
      <div class="pag-option">
        <button ng-click="changePage('news')">news</button>
      </div>
    </div>

    <div class="prototypes" ng-if="page=='prototypes'">
      <div class="prototype" ng-repeat="prototype in prototypes">
        <div class="prototype-title">
          <div class="prototype-number"><strong>gravivity {{prototype.number}}</strong></div>
          <div class="prototype-date">{{getUSADate(prototype.date)}}</div>
        </div>

        <div class="prototype-description">
          <p>{{prototype.description}}</p>
        </div>
        <div class="versions-title"><strong>releases</strong></div>
        <div class="prototype-versions">
          <div class="protoypes-version" ng-repeat="version in prototype.versions">
            <div class="prototypes-version">
              <p class="versions-version"><strong>v {{version.version}}</strong></p>
            </div>
            <div class="logos">
              <a href="{{prototype.latest.iOS}}">
                <img class="btn logo" src="assets/imgs/apple-logo-orange.png"></img>

              </a>
              <a href="{{prototype.latest.android}}">
                <img class="btn logo" src="assets/imgs/android-logo-orange.png"></img>
              </a>
            </div>
            <ul ng-repeat="addition in version.additions">
              <li>{{addition}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="news" ng-if="page=='news'">
    </div>
  </div>

</body>

</html>
