@font-face {
  font-family: comfortaa;
  src: url("../fonts/comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: comfortaa-bold;
  src: url("../fonts/comfortaa/Comfortaa-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: comfortaa-bold;
  src: url("../fonts/comfortaa/Comfortaa-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: roboto;
  src: url("../fonts/roboto/Roboto-Italic.ttf");
  font-weight: italic;
}
