body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  font-family: comfortaa;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.title {
  display: inline-block;
  font-size: 30px;
  color: #f49b42;
  text-align: center;
  margin-top: 20px;
}

.title h1 {
  margin: 0;
}

.title-img {
  height: 20%;
  min-height: 74px;
  width: 20%;
  min-width: 74px;
}

.pagination {
  display: flex;
  justify-content: center;
  color: #f49b42;
  flex-flow: row;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pag-option {
  text-align: center;
  width: 100px;
  height: 100%;
}

.pag-option button {
  font-family: comfortaa;
  background-color: rgba(0,0,0,0);
  border: none;
  color: #f49b42;
  font-size: 15px;
  padding: 0px;
}

.prototype {
  text-decoration: none;
  border-top: thin solid #b4b7ba;
  padding-top: 10px;
}

.prototype-description {
  font-family: roboto-light;
}

.prototype-number {
  font-size: 25px;
  margin-bottom: 7px;
}

.prototype-latest {
  margin-bottom: 20px;
}

.latest-title, .versions-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.prototype-versions {
  padding: 15px;
  border: thin solid #b4b7ba;
  border-radius: 20px;
  font-family: roboto-light;
  margin-bottom: 20px;
}

.versions-version {
  font-size: 15px;
}

.logo {
  height: 10%;
  width: 10%;
}
