body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  font-family: comfortaa;

  /*background-color: #f49b42;*/
  background-color: #fcac5d;

  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.title {
  display: inline-block;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.title h1 {
  margin: 0;
}

.title-img {
  height: 20%;
  min-height: 74px;
  width: 20%;
  min-width: 74px;
}

.pagination {
  display: flex;
  justify-content: center;
  color: #ffffff;
  flex-flow: row;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pag-option {
  text-align: center;
  width: 100px;
  height: 100%;
}

.pag-option button {
  font-family: comfortaa;
  background-color: rgba(0,0,0,0);
  border: none;
  color: #ffffff;
  font-size: 18px;
  padding: 0px;
}

.prototype {
  color: #fcac5d;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #d5d9e0;
  margin-bottom: 10px;
}

.prototype-description {
  font-family: roboto-light;
}

.prototype-number {
  font-size: 25px;
  margin-bottom: 7px;
  padding-bottom: 10px;
  border-bottom: thin solid #d5d9e0;
}

.prototype-latest {
  margin-bottom: 20px;
}

.latest-title, .versions-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.logos {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 10%;
  width: 10%;
  min-width: 40px;
  min-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.logos a {
  color: rgba(0,0,0,0);
}

.prototypes-version {
  text-align: center;
  font-size: 25px;
}
